
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Material Dashboard Dark Edition by Creative Tim
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <!-- CSS Files -->
  <link href="../static/css/material-dashboard.css" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/demo/demo.css" rel="stylesheet" />
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      }  
      
     
     .btn{
      height: 50px;
       text-decoration: none;
       padding: 15px 40px;
       background-color: rgb(246, 118, 13) !important;
       color: rgb(80, 47, 7);
       border-radius: 20px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-weight: bolder;
       box-shadow: 0 10px 40px rgba(255, 0, 225, 0.4);
    }
    .video-container{
      position: fixed;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      z-index: 99999;
      background-color: rgba(0,0, 0, 0.9);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      pointer-events: none;
      transition: all 0.6s;
     }
     .video-container.close{
       position: absolute;
      top: 10%;
      right: 25px;
      font-size: 20px;
      cursor: pointer;
     }
    .video-container video{
       width: 60%;
       max-width: 800px;
       transform: scale(0);
       box-shadow: 0 0px 0px rgba(0, 0, 0,0.5);
       outline: none;
       transition: all 0.3;
     }
     .video-container.show{
       pointer-events: all;
       opacity: 1; 
     }
     .video-container.show video{
       transform: scale(1);
     }
     
   </style>
</head>

<body class="dark-edition">
    <div class="wrapper ">
    
    <div class="sidebar" data-color="purple" data-background-color="black" >
      <div class="model">
        
        <li class="nav-item active  ">
          <a class="nav-link" href="./dashboard.html">
            <img src="../static/img/data-center-1536x1033.png" style=" margin: 5px;height:50px;"/>
             <p style="font-weight:1.5rem;margin-left: 10px;font-size:medium;">Data analyzer</p>
          </a>
        </li>
        
         <br> <li>  <a href="#" class="btn">How To Use </a></li> 
         <h3 style="left: 0px;
    right: 50px;
    position: relative;
    color: rgb(244 244 244);color: rgb(243, 245, 246);  margin-left: 20px;">prediction</h3>
    <form action="regression" method="post">
         <img src="../static/img/regression.png" style=" margin: 5%;height: 45px;"/>  
         <button class="button1" onclick="audio.play()"><a  href="" id="button1" ><p style="margin-top: 5px;">regression</p></a></button>
        </form>
        
        <form action="classification" method="post">
         <img src="../static/img/classification22.png" style=" margin: 5%;height: 45px;"/> 
         <button class="button1" onclick="audio.play()"><a href="#" id="button2" class="button"><p style="margin-top: 5px;">classification</p></a></button>
         </form>

         <form action="analysis" method="post">
         <img src="../static/img/analysis.png" style= "margin: 5%;height: 45px;"/> 
         <button class="button1" onclick="audio.play()"><a href="#" id="button3" class="button"><p style="margin-top: 5px;">analysis</p></a></button>
         </form>

         <script type="text/javascript">
          const audio=new Audio();
          audio.src="../assets/img/Mouse-Click-00-c-FesliyanStudios.com.mp3"
        </script>
        
        

        
         <style>.button1{
           margin: 3%;
 
          background-color:transparent ;
          border-radius: 20px;
          min-width: 150px;
          
          padding: 0px 0px;
         
         
          
       text-decoration: none;
       
       
      
       
       border-radius: 20px;
  
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-weight: bolder;
       box-shadow: 0 0px 3px rgba(248, 246, 248, 0.4);
    }
        </style>




      <div class="video-container">

          <span style="color: rgb(237, 100, 9);
             float: right;
               font-size: 1.5rem;
                font-weight: 500;
                line-height: 13.5;
                right: 350px;
                
                   text-shadow: 0px 1px 0px #ffffff;
                   opacity: 3.5;
                   transform: rotate(180deg);
                   "class="close">X</span>
          <video src="../static/js/videoplayback.mp4" controls=></video>
           </div>
        
        </div>
        
        

        <script>
          const btn = document.querySelector('.btn');
          const videoContainer =document.querySelector('.video-container');
          const close =document.querySelector('.close');
          
          btn.addEventListener('click', ()=> {
           videoContainer.classList.add('show');
            })

           close.addEventListener('click' , ()=>{
           videoContainer.classList.remove('show');
            }) </script>
                 
      </div> 
    

    
    <div class="main-panel">
      <!-- Navbar -->
        <div class="container-fluid">
          
          <div class="col-lg-8 mb-4 order-0">
            <div class="card">
              <div class="d-flex align-items-end row">
                <div class="col-sm-7">
                  <div class="card-body">
                    <h5 class="card-title text-primary">We Make Data Ready for Humans</h5>
                    <p class="mb-4">
                      Speed up your data analysis
                    </p>
                  </div>
                </div>
                <div class="col-sm-5 text-center text-sm-left">
                  <div class="card-body pb-0 px-0 px-md-4">
                    <img
                      src="../static/img/man-with-laptop-light.png"
                      height="140"
                      alt="View Badge User"
                      data-app-dark-img="illustrations/man-with-laptop-dark.png"
                      data-app-light-img="illustrations/man-with-laptop-light.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
        
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                 
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="javscript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 
        
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                </a>
              </li>
            </ul>
          </div>
        </div>
      
      <!-- End Navbar -->
      <div class="content">

        
        <form enctype=multipart/form-data method="POST">
       <div id="first_line">
          <input name="maindata" type="file"   class="click" accept=".csv" onclick="audio.play()">
          <button onclick="audio.play()"  class="click"> Upload the csv file</button>
        </div>
        </form>

  
          

        <div class="container-fluid">
          <div class="row header text-center align-items-center align-middle justify-content-center">
            <div class="col-xl-3 col-lg-2">
              <div class="card card-chart">
                <img class="img" height="200px" src="../static/img/regression.png" alt="doughnut chart">
                <div class="card-body">
                  <h4 class="card-title">regression</h4>
                  <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> </span> The process of finding the correlations between dependent and independent variables.</p>
                </div>
               
              </div>
            </div>
            <div class="col-xl-3 col-lg-2">
              <div class="card card-chart">
                <img class="img" height="200px" src="../static/img/classification22.png" alt="histogram">
                <div class="card-body">
                  <h4 class="card-title">classification</h4>
                  <p class="card-category">The process of finding a function which helps in dividing the dataset into classes based on different parameters.</p>
                </div>
                
            
                
              </div>
            </div>
            <div class="col-xl-3 col-lg-2">
              <div class="card card-chart">
                <img class="img" height="200px" src="../static/img/analysis.png" alt="scatter plot">
                <div class="card-body">
                  <h4 class="card-title">analysis </h4>
                  <p class="card-category">The process of finding, collecting, cleaning, examining, and modeling data to derive useful information</p>
                </div>
                
                
              </div>
            </div>
            
            </div>
            <div id="svg1"></div>
          </div>

          <!--div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h5 style="color: #f6f9fa">REGREESSION</h5>
                  </button>
                </h5>
              </div>
              <form action="/resultregression" method="post" >
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <h5>dependent variable</h5>
                  <ul style="list-style-type:none;">
                    {% for varname in allvars %}
                      <li ><input type="radio" name="X" value='{{ varname }}'>&nbsp;{{ varname }}</li>
                    
                      {% endfor %}
                    </ul>
                    
                    
                    <h5>independent variable</h5>
                    <ul style="list-style-type:none;">
                      {% for varname in allvars %}
                        <li ><input type="radio" name="Y" value='{{ varname }}'>&nbsp;{{ varname }}</li>
                      
                        {% endfor %}
                      </ul>
                      <input class="selbut" type="Submit">
                      <div class="container">
                        <div class="row">
                            <div class="col-md-6">
  
                                <div  class="container">
                                    
                                    {% for table in predictiontable %}
                                        {{ table|safe }}
                                    {% endfor %}
                                
                                </div>
                                </div>
                                </div>
                                </div>
                    </form>
                     
                </div>
              </div>
             
                
              
             
             
            </div>
            <!--div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h5 style="color: #f6f9fa">CLASSIFICATION</h5>
                  </button>
                </h5>
              </div>
              <form action="/resultclassification" method="post" >
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <ul style="list-style-type:none;">
                    {% for varname in allvars %}
                    <li ><input  type="checkbox" name="Z" value='{{ varname }}'>&nbsp;{{ varname }}</li>
                  
                    {% endfor %}
                  </ul> 
                  <h5>independent variable</h5>
                  <ul style="list-style-type:none;">
                    {% for varname in allvars %}
                      <li ><input type="checkbox" name="C" value='{{ varname }}' >&nbsp;{{ varname }}</li>
                    
                      {% endfor %}
                    </ul>
                    <input class="selbut" type="Submit">
                   
                </div>
              </div>
            </form>
            </div-->
            <!--div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h5 style="color: #f6f9fa"> ANALYSIS</h5>
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                 
                </div-->
<h2>data description</h2>
                <div class="container">
                  {% for table in sumtables %}
                      {{ table|safe }}
                  {% endfor %}
              </div>
              <h3>box plot</h3>
              <img src="data:image/png;base64, {{ box_url }}" >

              {{duplicated}}

              {{shape}}


              {{outliers}}

              {{data_cleaned}}

              {{datanew_mean}}

              {{data_mode}}

              {{datanew_cov}}

              {{datanew_cor}}

              {{datanew_median}}

              {{datanew_var}}

              {{datanew_std}}

              
              
            </div>

          <!--div style= "background-color: rgba(0, 0, 0, 0.8);width: 100%;height: 100%;" class="bg-modal">
            <div style=" position:fixed;
            top: 30%;
            left: 600px;
            right: 300px;
            width: 35%;
            height: 35%;
            background-color: rgb(0,0,0,0);
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            opacity: 1;
           
            transition: all 0.6s;"class="modal-contents">
          
              
          
            </div>
          </div-->
        </div>

        
         
                
                    </div>
                 
  
    </div>
    
  <!--   Core JS Files   -->
  <!-- <script src="../p/js/doughnut.js"></script> -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <!-- <script src="../P/js/doughnut.js"defer></script> -->
  <script src="../static/js/core/jquery.min.js"></script>
  <script src="../static/js/core/popper.min.js"></script>
  <script src="../static/js/core/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="../static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="../static/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../static/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../static/js/material-dashboard.js"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="../static/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
  

    
    
</body>

</html>